* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrata', sans-serif;
}

.intro-1 {
    margin: 25px auto;
    font-size: 1.6rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.intro-2 {
    margin: 25px auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.pr {
    padding: 0 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    
   
}

.qr-code {
    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}
a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    width: 325px;
    margin: 25px auto;
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    font-weight: 400;
    font-size: 0.9375rem;; 
    text-align: center;

}

