* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    font-family: 'Montserrata', sans-serif;
}

.intro-1 {
    margin: 25px auto;
    font-size: 1.6rem;
    color: #1C315E;
    font-weight: 600;
}

.intro-2 {
    margin: 25px auto;
    font-size: 1.1rem;
    font-weight: 500;
    color: #B2B2B2;
}

.pr {
    padding: 0 15px;
}

body {
    background-color: #d6e1f0;
}

.container {
    background-color: #fffeff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    
   
}

.qr-code {
    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.attribution {
    width: 325px;
    margin: 25px auto;
    position: absolute;
    bottom: 2rem;
    right: 5rem;

    font-weight: 600;
    font-size: 0.8rem; 
    color: #2B3A55; 
    text-align: center;

}

